{% extends 'base.html' %}

{% block title %} Recipe detail {% endblock %}

{% block content %}
<div class="button-group">
    <a href="{% url 'recipes:list' %}" class="btn btn-link">Back to lists</a>
    <a href="{% url 'recipes:ing_create' object.slug %}" class="btn btn-link">Add new ingredient</a>
</div>
<div class="card">
    <div class="card-body">
        <h5 class="card-title">{{ object.title }}</h5>
        <p class="card-text">{{ object.author }}</p>
        <div class="button-group mb-3">
            {% for tag in object.tags.all %}
            <a href="#" class="btn btn-outline-dark btn-sm">{{tag.title}}</a>
            {% endfor %}
        </div>
        <a href="{% url 'recipes:update' object.slug %}" class="btn btn-light">Edit</a>
        <a href="{% url 'recipes:delete' object.slug %}" class="btn btn-danger">Delete</a>
    </div>
    <div class="card-footer text-muted">
        {{ object.created_date }}
    </div>
</div>

<div class="row mt-4">
    {% for ingredient in object.ingredients.all %}
    <div class="col-sm-6 mb-3 ">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ingredient.title}}</h5>
                <p class="card-text">{{ingredient.quantity}}-{{ingredient.get_unit_display}}</p>
                <a href="{% url 'recipes:ing_update' ingredient.recipe.slug ingredient.id %}" class="btn btn-light">Edit</a>
                <a href="{% url 'recipes:ing_delete' ingredient.recipe.slug ingredient.id %}" class="btn btn-danger">Delete</a>
            </div>
            <div class="card-footer text-muted">
                {{ ingredient.created_date }}
            </div>
        </div>
    </div>
    {% endfor %}
</div>


{% endblock %}