{% extends 'base.html' %}

{% block title %} Add New Articles {% endblock %}

{% block content %}
    {% if created %}
    <h1>{{ object.title }}</h1>
    <p>{{ object.content }}</p>
    <p>{{object.create_date}}</p>
    {% else %}
    <form method="post" >
        {% csrf_token %}
<!--        <div>-->
<!--            <label for="title">Title</label>-->
<!--            <br>-->
<!--            <input type="text" id="title" placeholder="title" name="title"/>-->
<!--        </div>-->
<!--        <div style="margin-top: 20px">-->
<!--            <label for="content">Message</label>-->
<!--            <br>-->
<!--            <textarea id="content" cols="60" rows="3" placeholder="content" name="content"></textarea>-->
<!--        </div>-->
        {{ form.as_p }}
        <div style="margin-top: 20px">
            <input type="submit" value="Add new">
        </div>
    </form>
    {% endif %}
{% endblock%}